[Unit]
Description=connect velodyne shell script service
After=networking.service

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/home/ubuntu/velodyne_setup_scripts/connect_velodyne.sh

[Install]
WantedBy=multi-user.target
