[Unit]
Description=connect velodyne shell script service
Documentation=
#After=networking.service

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/env/connect_velodyne.sh

[Install]
WantedBy=multi-user.target
